#userName {
    color: blue;
    text-align: center;
    font-size: 22px;
}

.list-group-item.list-group-item-action.list-group-item-light:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(94, 94, 209);
}

.list-group-item.list-group-item-action.list-group-item-light {
    text-align: center;
    font-weight: bold;
}

.list-group-item {
    text-align: center;
}

#custom-card{
    overflow: auto;
    height: 606px;
}

.rounded-circle.mt-0:hover{
    cursor: pointer; 
    opacity: 0.6;
    -webkit-transition: .3s ease-in-out;
	transition: .7s ease-in-out;
    -webkit-animation: circle .75s;
	animation: circle .75s;
}

.middle {
    cursor: pointer;
}

/* .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */

#imageSize {
    height: 140px;
    width: 150px;
}

#comment-body {
    height: 435px;
    overflow: auto;
}

.image-upload > input {
    display: none;
}

.dropup:hover>.dropdown-menu {
    cursor: pointer;
    display: block;

}

.dropup {
    color: #8b8a8a;
    font-size: 25px;
}

.dropup:hover {
    color: blue;
    cursor: pointer;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-item {
    cursor: pointer;
}

#like-action:hover {
    cursor: pointer;
    color: blue;
    transition: 0.8s;
}

.custom-tooltip:hover {
    cursor: pointer;
    color: rgb(134, 127, 127);
}

.custom-tooltip {
    position: relative;
    display: inline-block;
}
  
.custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 50px;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    text-align:  center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -21px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.custom-tooltip .custom-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
    opacity: 1;
}

#header-imageSize {
    height: 35px;
}
