
<div class="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <img *ngIf="getImage; else other" src="data:image/JPEG;base64,{{getImage.imageBytes}}" alt="avatar" class="rounded-circle img-responsive">
                <ng-template #other>
                    <img src="https://thumbs.dreamstime.com/b/default-male-avatar-profile-picture-icon-grey-man-photo-placeholder-vector-illustration-88414414.jpg" alt="avatar" class="rounded-circle img-responsive">
                </ng-template>
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-5">
                <form #form="ngForm" (ngSubmit)="checkEmail(form)" method="POST">
                    <div class="md-form">
                        <input type="email" name="email" class="form-control" placeholder="Enter Your Email...." #email="ngModel" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <div *ngIf="email.touched && email.invalid">
                            <div *ngIf="email.errors.required" class="text-danger text-center"> * this field is required</div>
                        </div>
                        <div *ngIf="email.errors && (email.touched || email.dirty)" class="text-danger text-center">
                            <div [hidden]="!email.errors?.pattern"> * enter a valid email address </div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <button type="submit" class="btn aqua-gradient float-center btn-md" [disabled]="form.invalid" >Next</button>
                    </div>
                </form>
                
            </div>

        </div>

    </div>
</div>